/*.csv
/*.txt
!README.txt
__pycache__/
figures/
.ipynb_checkpoints
.RData
.Rhistory
results
data/old_files
data/old_files2
PyCRO_SL
PyCRO_SL_old
final_plots/
other_figures
figures_old/
codigoVALIDAfin/